asgiref==3.3.4
beautifulsoup4==4.9.3
bootstrap4==0.1.0
certifi==2021.5.30
cffi==1.14.5
Django==2.2.28
django-bootstrap4==3.0.1
django-braces==1.14.0
importlib-metadata==2.1.1
misaka==2.1.1
pycparser==2.20
pytz==2021.1
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
typing-extensions==3.10.0.0
wincertstore==0.2
zipp==3.4.1
